@import "../../../../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.type-icon {
  color: #00b894;
  margin-right: 5px;
}
.green{
background-color: #28a745;
}

.move {
  display: flex;
  justify-content: center;
}

.dere {
margin-left: 20px;
}
