<div class="pos-f-t">
    <div class="collapse" id="navbarToggleExternalContent">
      <div class="bg-dark p-4">
         <a href="https://www.google.es/maps/place/GreenPowerMonitor/@41.3640093,2.1348044,3a,75y,133.44h,90t/data=!3m7!1e1!3m5!1sJMesxYAvhths4qRZzCl9XQ!2e0!6s%2F%2Fgeo1.ggpht.com%2Fcbk%3Fpanoid%3DJMesxYAvhths4qRZzCl9XQ%26output%3Dthumbnail%26cb_client%3Dsearch.TACTILE.gps%26thumb%3D2%26w%3D86%26h%3D86%26yaw%3D133.43835%26pitch%3D0%26thumbfov%3D100!7i16384!8i8192!4m12!1m6!3m5!1s0x12a49878507abfcd:0x3e20705d1a1d95b6!2sGreenPowerMonitor!8m2!3d41.3638491!4d2.1350292!3m4!1s0x12a49878507abfcd:0x3e20705d1a1d95b6!8m2!3d41.3638491!4d2.1350292?hl=es-419" target="blank"><img width="200" alt="Angular Logo" class="rounded float-right" src="../../../assets/gpm2.png"></a>
        <h2>console.log <font COLOR="white">( <span>'</span> Technical Skills in <font COLOR="green">Frontend</font> and <font COLOR="green">Backend </font> <span>'</span> )</font>;</h2>

        <span> <?php</span> <br>
        <span> echo <font COLOR="white">( <span>'</span> Innovation and Initiative with: Html-5, Bootstrap-4, Css-3, Angular JS-6, Material Angular, Angular-cli, Php, Photoshop, Visual Studio Code, PhpStorm, Npm, Node JS <span>'</span> ) <span>;</span></font></span> <br>
        <span> echo <font COLOR="white">( <span>'</span> Find us by clicking on the 2 images <span>'</span> ) <span>;</span></font></span> <br>
        <span> ?></span>



      </div>
    </div>
    <nav class="navbar navbar-dark bg-success">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        Menu <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
